<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoBank Automation Suite" parallel="false" verbose="2">

    <listeners>
        <listener class-name="tests.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <!-- Modulo 1: Login (5 casos) -->
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>

    <!-- Modulo 2: Home (6 casos) -->
    <test name="Home Tests">
        <classes>
            <class name="tests.HomeTests"/>
        </classes>
    </test>

    <!-- Modulo 3: Movimientos (4 casos) -->
    <test name="Movements Tests">
        <classes>
            <class name="tests.MovementsTests"/>
        </classes>
    </test>

    <!-- Modulo 4: Transferencias (5 casos, incluye OCR + OpenCV) -->
    <test name="Transfer Tests">
        <classes>
            <class name="tests.TransferTests"/>
        </classes>
    </test>

    <!-- Modulo 5: Pagos de Servicios (6 casos) -->
    <test name="Pay Services Tests">
        <classes>
            <class name="tests.PayTests"/>
        </classes>
    </test>

    <!-- Regresion visual del Home con OpenCV -->
    <test name="OpenCV Regression">
        <classes>
            <class name="tests.OpenCVRegressionTest"/>
        </classes>
    </test>

    <!-- Regresion visual paso a paso: Busqueda parcial en Movimientos (OpenCV) -->
    <test name="Movements Visual Regression">
        <classes>
            <class name="tests.MovementsVisualRegressionTest"/>
        </classes>
    </test>

</suite>
